$pad: 0.5rem;
$br: 0.2rem;
$maxWidth: 892pt;
$textWidth: 480pt;

$bg0: #eeeef2;
$bg1: #fafafa;
$bg2: #e6e6e6;
$fg0: #757575;
$fg1: #4f4f4f;
$col0: #5cadd6;
$col1: #b1d65c;

:root {
  --fg0: #{$fg0};
  --fg1: #{$fg1};
  --bg0: #{$bg0};
  --bg1: #{$bg1};
  --bg2: #{$bg2};
  --col0: #{$col0};
  --col1: #{$col1};
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $pad;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $pad;
}
