$pad: 1rem;
$maxWidth: 720pt;
$textWidth: 480pt;

:root {
  font-family: sans-serif;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $pad;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $pad;
}

header {
  max-width: $textWidth;
  margin: 0 auto;
}

li {
  margin: $pad 0;
}

.main-controls {
  width: 100%;
  margin: 0 auto;
  max-width: $textWidth;
}

main,
.opt-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.opt-group {
  width: 100%;
  margin: 0 auto;
  font-family: monospace;
}

.opt-group.graph > label {
  width: fit-content;
  margin: 0 auto;
}

.opt-group.wheel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: $pad;

  .controls {
    max-width: $textWidth;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  td {
    white-space: nowrap;
  }

  label {
    font-size: 0.8rem;
    @include flex-row;
    gap: 0;
    margin-left: $pad;
  }

  input[type='number'] {
    font-family: monospace;
    appearance: none;
    min-width: 9ch;
    text-align: right;
  }
}

.graph {
  max-width: $maxWidth;
  width: 100%;
  margin: 0 auto;
  &:not(.frozen) {
    cursor: none;
  }
}

td {
  white-space: pre;
  padding: 0;
}

footer {
  margin: 24rem 0 12rem 0;
  > p {
    max-width: $textWidth;
    margin: 0 auto;
    text-align: center;
  }
}

.visualizers {
  display: flex;
  flex-direction: row;
  // max-width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;

  canvas {
    display: block;
    width: 100%;
    flex: 1;
    object-fit: contain;
  }
}

.examples {
  font-family: monospace;
  border-spacing: 0;

  tr:nth-child(4n),
  tr:nth-child(4n + 3) {
    background: #f8f8f8ff;
  }
}

table {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  display: block;
}
